body{
    background-color: #FAF7F0;
}
h1{
    font-size: xx-large;
    font-family: Comic Sans Ms;
    color: #4A4947;
}
a{
    text-decoration: underline;
    color:#4A4947 ;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    color: white;
    background-color: #B17457;
}