body{
    background-color: #FAF7F0;
}
h1{
    font-size: xx-large;
    font-family: Comic sans Ms;
    color: #4A4947;
    font-weight: italic;
    
}
p{
    color: #4A4947;
    text-align: center;
    font-weight: bold;

    font-family: Verdana;
    font-size: large;
    border:solid
    
}